.g1{
    display: flex;
    flex-direction: row;
}
.g2{
    display: flex;
    flex-direction: row;
}
.g3{
    display: flex;
    flex-direction: row;
}
.g4{
    display: flex;
    flex-direction: row;
}
.t1ext{
    display: flex;
    flex-direction: row;
}
.page{
    width: 85%;
    margin-left:50px;

    margin-bottom: 10%;

}
.image-container{
    height: 300px;
    width: 500px;
    padding-bottom: 2px;
}
.image{


    height: 300px;
    width: 500px;
}
.info{
    padding-right: 60px;
    height: 300px;
    width: 700px;
    padding-bottom: 2px;
}
h2{
    font-size: 250%;
    font-weight: initial;
}
h3{
    font-size: 150%;
    font-weight: bold;
    padding-right: 25px;
}
p{
    font-size: 125%;
    font-weight: bolder;
}
.pointer{

    padding-left: 25px;
    width: 25px;
}
.image:hover{
    transition: transform 1.2s;
    transform: rotateY(180deg);
}

.collaborate:hover{
   text-decoration-line: underline;
    transition: transform 1.5s;
    cursor:pointer;


}
.darkmodebutton{
    background-color: #212529;
    color: whitesmoke;
    margin: 5px;
    border-color: white;
    border-style: double;
    padding: 20px;
}
.darkmode:hover{
    text-decoration-line: underline;
    transition: transform .2s;
    cursor:pointer;
    background-color: #212529;
    color: whitesmoke;
    margin: 5px;
    border-color: white;
    border-style: double;
    padding: 20px;
    transform: scale(1.2);
}

.darkmodebody{
    background-color: #212529;
    color: whitesmoke;
}
body{
    background-color: #218B82;
}
